*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

 /* .ant-btn-variant-outlined, 
.ant-btn-variant-dashed {
    border-color: rgb(0,21,41) !important;
    background: rgb(0,21,41) !important;
}  */
